<div class="container mt-5">
    <form>
        <img src="assets/user.png" alt="User Image" class="img-fluid">

        <div class="mb-3">
            <input type="text" placeholder="Nome" name="nome" [(ngModel)]="cliente.nome" class="form-control">
        </div>
        <div class="mb-3 row">
            <div class="col-sm-6">
                <input type="number" placeholder="Idade" name="idade" [(ngModel)]="cliente.idade" class="form-control">
            </div>
            <div class="col-sm-6">
                <input type="number" placeholder="Telefone" name="telefone" [(ngModel)]="cliente.telefone" class="form-control">
            </div>
        </div>
        <div class="mb-3">
            <input type="text" placeholder="Cidade" name="cidade" [(ngModel)]="cliente.cidade" class="form-control">
        </div>

        <div class="mb-3">
            <input type="button" value="Cadastrar" *ngIf="btnCadastro" class="btn btn-primary" (click)="cadastrar()" >
            <input type="button" value="Editar" *ngIf="!btnCadastro" class="btn btn-warning" (click)="editar()" >
            <input type="button" value="Excluir" *ngIf="!btnCadastro" class="btn btn-danger" (click)="remover()" >
            <input type="button" value="Cancelar" *ngIf="!btnCadastro" class="btn btn-secondary" (click)="cancelar()" >
        </div>
    </form>

    <table class="table" *ngIf="tabela">
        <thead>
            <tr>
                <th>#</th>
                <th>Nomes</th>
                <th>Idade</th>
                <th>Cidade</th>
                <th>Telefone</th>
                <th>Selecionar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.idade }}</td>
                <td>{{ cliente.cidade }}</td>
                <td>{{ cliente.telefone }}</td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="selecionarCliente(i)">Selecionar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>